/*hgyweather plugin stílusai*/
.my-toolbar-weather {
   /* background-color:khaki !important;*/
}
.my-toolbar-weather img {
    width:32px !important;
    height:32px !important;
    vertical-align: top;
}
#wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item {
    color:#eee;
    background:#23282d;
}